body {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(251,251,251,1) 53%, rgba(252,131,131,1) 100%);
    background-repeat: no-repeat;
    margin-bottom: 105px;
}
.titulo1 {
    margin-top: 2.5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 64px;
    color: black;
    font-weight: bold;
}
.texto1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    color: black;
    text-align: justify;
    line-height: 30px;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 2.5%;
}
.subtitulo1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    color: black;
    line-height: 30px;
}
.menu {
    width: 350px;
    height: 100%;
    background-color: #131111f5;
    position: fixed;
    top: 0;
    left: -350px;
    transition: left 0.3s ease;
  }
  
  .menu.open {
    left: 0;
    -webkit-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.75);
  }
  ul li {
    margin-top: 11.5%;
    margin-bottom: 11.5%;
    margin-left: 5%;
    list-style: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
  }
  #drawer{
    margin:15px;
    height: 70px;
    width: 70px;
    border-radius: 5%;
    border-style: none;
    background-image: url('https://cdn.icon-icons.com/icons2/916/PNG/512/Menu_icon_icon-icons.com_71858.png');
    background-size: cover;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75); 
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75); 
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  }
  #drawer2{
    margin-left: 15%;
    margin-top: 15%;
    height: 45px;
    width: 70px;
    border-radius: 5%;
    border-style: none;
    background-size: cover;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75); -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75); box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75)
  }
  a {
    text-decoration: none;
  }